<div class="container">
    <h2>Lista de Personajes</h2>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="¿Qué desea buscar?" #input>
    </mat-form-field>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="table-striped table-bordered" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let character">{{ character.id }}</td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Imagen</th>
          <td mat-cell *matCellDef="let character">
            <img style="border-radius: 50%;" [src]="character.image" alt="{{ character.name }}" width="50" height="50">
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let character">{{ character.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let character">{{ character.status }}</td>
        </ng-container>
  
        <ng-container matColumnDef="species">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Especie</th>
          <td mat-cell *matCellDef="let character">{{ character.species }}</td>
        </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef >Acciones</th>
        <td mat-cell *matCellDef="let character">
          <button 
          (click)="openSeeDialog(character)"   
            [attr.data-id]="character.id"
            type="button" 
            class="btn btn-primary btn-sm" 
            >
            <mat-icon>more</mat-icon>
          </button>
          
          <button 
          (click)="openEditDialog(character)"   
            [attr.data-id]="character.id"
            type="button" 
            class="btn btn-primary btn-sm" 
            >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            type="button"
            class="btn btn-sm btn-danger"
            (click)="eliminarPersonaje(character.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
      </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">Ninguna coincidencia: "{{ input.value }}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>